.dashboardContainer {
    height: 100%;
    width: 100%;
}

.fullContainer {
    height: calc(100% - 64px);
    padding: 0px !important;
}

.normalContainer {
    height: calc(100% - 64px);
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 32px;
    padding-bottom: 32px;
}